{% extends 'base.html' %}

{% block content %}

<form id="add-rooms" name="add-rooms" method="POST">
        {{form.csrf_token}}
        <h1>Add Rooms</h1>
        </div>
        <p>
            {{form.room_name.label}}
            {{form.room_name}}
        </p>

        <p>
            {{form.room_id.label}}
            {{form.room_id}}
        </p>
        <p>
            {{form.room_type.label}}
            {{form.room_type}}
        </p>
        <p>
            {{form.capacity.label}}
            {{form.capacity}}
        </p>
        <p><input type="submit" value="Go"></p>
    </form>
{% endblock %}