<!doctype html>
<title>{% block title %}{% endblock %} - SUTD Scheduler</title>
<link rel="icon" type="image/png" href="/static/images/icons/sutd-logo-png-1.png"/>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<nav>
  <h1>SUTD Scheduler</h1>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

    {% if current_user.is_authenticated %}
      <span>{{ current_user.username }}</span>
      <a href="{{ url_for('logout') }}">Log Out</a> |
      {% if current_user.user_group == "student" %} 
          <a href="{{ url_for('logout') }}">View Schedule</a> |
          <a href="{{ url_for('logout') }}">Choose HASS</a> |
      {% elif current_user.user_group == "professor" %}
          <a href="{{ url_for('logout') }}">View Schedule</a> |
      {% elif current_user.user_group == "course_lead" %}
          <a href="{{ url_for('logout') }}">View Schedule</a> | 
          <a href="{{ url_for('courseInput') }}">Add Subject</a> |
      {% elif current_user.user_group == "admin" %}
          <a href="{{ url_for('logout') }}">View All Schedules</a> |
          <a href="{{ url_for('register') }}">Add new user</a> |
          <a href="{{ url_for('logout') }}">Remove user</a> |
          <a href="{{ url_for('courseInput') }}">Add Subject</a> |
      {% endif %}
    {% else %}
      <a href="{{ url_for('register') }}">Register</a>
      <a href="{{ url_for('login') }}">Log In</a>
    {% endif %}
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% block content %}{% endblock %}
</section>
