{% extends 'base.html' %}
{% block header %}
<head>
  <meta charset="UTF-8">
  <!--<title>{% block title %}Table of Subjects{% endblock %}</title> -->
    <link rel="icon" type="image/png" href="/static/images/icons/sutd-logo-png-1.png"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

  
      <link rel="stylesheet" href="/static/css/databaseStyle.css">

  
</head>
<!--{% endblock %}
{% block content %}
<body> -->
  <section>
  <!--for demo wrap-->
  <h1>Subject Details</h1>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>Subject Code</th>
          <th>Subject Name</th>
          <th>Term</th>
          <th>Subject Type</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
      {% for eachresult in result %}
        <tr>
          <td>{{eachresult.subjectCode}}</td>
          <td>{{eachresult.subjectName}} </td>
          <td>{{eachresult.subjectType}}</td>
          <td>{{eachresult.term}}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</section>

  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

  

    <script  src="/static/js/database.js"></script>




</body>
{% endblock %}
</html>
