{% extends 'base.html' %}

{% block content %}

<form id="student-groups" name="student-groups" method="POST">
        {{form.csrf_token}}
        <h1>Edit Student Groups</h1>
        </div>
        <p>
            {{form.pillar.label}}
            {{form.pillar}}
        </p>

        <p>
            {{form.size.label}}
            {{form.size}}
        </p>
        <p>
            {{form.cohort.label}}
            {{form.cohort}}
        </p>
        <p>
            {{form.term.label}}
            {{form.term}}
        </p>
        <p>
            {{form.name.label}}
            {{form.name}}
        </p>
        <p>
            {{form.subject1.label}}
            {{form.subject1}}
        </p>
        <p>
            {{form.subject2.label}}
            {{form.subject2}}
        </p>
        <p>
            {{form.subject3.label}}
            {{form.subject3}}
        </p>
        <p><input type="submit" value="Go"></p>
    </form>
{% endblock %}