{% extends 'base.html' %}

{% block content %}

<form id="student-groups" name="student-groups" method="POST">
        {{form.csrf_token}}
        <h1>Edit Student Groups</h1>
        </div>
        <p>
            {{form.pillar.label}}
            {{form.pillar}}
        </p>

        <p>
            {{form.size.label}}
            {{form.size}}
        </p>
        <p>
            {{form.cohort.label}}
            {{form.cohort}}
        </p>
        <p>
            {{form.term.label}}
            {{form.term}}
        </p>
        <p>
            {{form.name.label}}
            {{form.name}}
        </p>
        <p>
            {{form.subjectFieldList.label}}
            {% for cf in form.subjectFieldList %}
            <center><p>
                {{cf}}
            </p></center>
            {% endfor %}
        </p>
        </p>
        <p><input type="submit" value="Go"></p>
    </form>
{% endblock %}