{% extends 'base.html' %}

{% block content %}

<form id="edit-users" name="edit-users" method="POST">
        {{form.csrf_token}}
        <h1>Edit Users</h1>
        </div>
        <p>
            {{form.username.label}}
            {{form.username}}
        </p>

        <p>
            {{form.fullname.label}}
            {{form.fullname}}
        </p>

        <p>
            {{form.password.label}}
            {{form.password}}
        </p>
        <p>
            {{form.email.label}}
            {{form.email}}
        </p>
        <p>
            {{form.user_group.label}}
            {{form.user_group}}
        </p>
        <p>
            {{form.pillar.label}}
            {{form.pillar}}
        </p>
        <p>
            {{form.term.label}}
            {{form.term}}
        </p>
        <p>
            {{form.student_id.label}}
            {{form.student_id}}
        </p>

        <p>
            {{form.professor_id.label}}
            {{form.professor_id}}
        </p>

        <p>
            {{form.course_table.label}}
            {{form.course_table}}
        </p>

        <p>
            {{form.delete.label}}  {{form.delete}}
        </p>
        <p><input type="submit" value="Go"></p>
    </form>
{% endblock %}