{% extends 'base.html' %}
{% block header %}
  <h1>{% block title %}Resgister{% endblock %}</h1>
{% endblock %}
{% block content %}
<!--

<form id="register-users" action="/usersTable" method="POST">
    <label for="username">Username: </label>
    <input name="username" id="username"><br/><br/>
    
    <label for="fullname">Full Name: </label>
    <input name="fullname" id="fullname"><br/><br/>
    
    <label for="password">Password: </label>
    <input type="password" name="password" id="password"><br/><br/>
    
    <label for="confirmPassword">Confirm Password: </label>
    <input type="password" name="confirmPassword" id="confirmPassword"><br/><br/>
    
    <label for="email">Email: </label>
    <input name="email" id="email"><br/><br/>
    
    <label for="user_group">User_Group: </label>
    <select name="user_group" id="user_group">
      <option value="nothing"></option>
      <option value="admin">Admin</option>
      <option value="pillar_head">Pillar Head</option>
      <option value="subject_lead">Subject Lead</option>
      <option value="professor">Professor</option>
      <option value="student">Student</option>
    </select><br/><br/>
    
    <input type="submit" value="Confirm">
  </form>
-->
<form id="register-users" name="register-users" method="POST">
        {{form.csrf_token}}
        <h1>Register</h1>
        </div>
        <p>
            {{form.username.label}}
            {{form.username}}
        </p>
        <p>
            {{form.password.label}}
            {{form.password}}
        </p>
        <p>
            {{form.confirmPassword.label}}
            {{form.confirmPassword}}
        </p>
        <p>
            {{form.fullname.label}}
            {{form.fullname}}
        </p>
        <p>
            {{form.email.label}}
            {{form.email}}
        </p>
        <p>
            {{form.user_group.label}}
            {{form.user_group}}
        </p>
        <p><input type="submit" value="Go"></p>
    </form>
{% endblock %}