{% extends 'base.html' %}
{% block content %}

<form id="add_subject" name="add_subject" method="POST">
        {{form.csrf_token}}
        <h1>Add Subjects</h1>
        </div>
        <p>
            {{form.subject_name.label}}
            {{form.subject_name}}
        </p>
        <p>
            {{form.subject_id.label}}
            {{form.subject_id}}
        </p>
        <p>
            {{form.term_no.label}}
            {{form.term_no}}
        </p>
        <p>
            {{form.component.label}}
            {% for cf in form.component %}
            <center><p>
                {{cf.label}}
                {{cf}}
            </p></center>
            {% endfor %}
        </p>
        <p>
            {{form.add_more_component}}
            
        </p>
        <p>
            {{form.pillar.label}}
            {{form.pillar}}
        </p>
        <p>
            {{form.subject_type.label}}
            {{form.subject_type}}
        </p>
        <p>
            {{form.cohort_num.label}}
            {{form.cohort_num}}
        </p>
        <p><input type="submit" value="Go"></p>
    </form>
{% endblock %}