{% extends 'base.html' %}
<!--
{% block header %}
  <h1>{% block title %}Schedule{% endblock %}</h1>
<style>
table {
  width:60%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}
table#t01 tr:nth-child(even) {
  background-color: #eee;
}
table#t01 tr:nth-child(odd) {
 background-color: #fff;
}
table#t01 th {
  background-color: black;
  color: white;
}
</style>
{% endblock %}
-->
{% block content %}
<table border="1", id="t01">
    <thead>
        <tr>
            <th></th>
            {% for day in student_schedule[0] %}
            <th>{{ day }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for time in student_schedule[1:] %}
        <tr>
            <td>
            {{time[0]}}
            </td>
            {% for class in time[1:] %}
            {% if class != None %}
                <td rowspan={{ class[0]}}>{{ class[1] }}</td>
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
